<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>

    <!--写入数据库-->
    <target xsi:type="Database" name="Database"
            connectionString="Data Source=.;Initial Catalog=ITLifeBlog;Persist Security Info=True;User ID=sa;Password=123456"
            commandText="insert into NLog([CreateTime],[Origin],[LogLevel], [Message], [Exception],[StackTrace],[Description]) values (getdate(), @origin, @logLevel, @message,@exception, @stackTrace,@description)">

      <!--日志来源-->
      <parameter name="@origin" layout="${callsite}"/>
      <!--日志等级-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志消息-->
      <parameter name="@message" layout="${message}"/>
      <!--异常信息-->
      <parameter name="@exception" layout="${exception}" />
      <!--堆栈信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <!--自定义消息内容-->
      <parameter name="@description" layout="${event-context:item=Description}"/>
    </target>
  </targets>

  <rules>
    <logger name="DbLogger" levels="Trace,Debug,Info,Error"  writeTo="Database"/>
  </rules>
</nlog>